.tabContent {
  padding: 16px;
  flex: 1;
  overflow-y: auto;
  font-size: 12px;
  line-height: 2;
  color: var(--gbc-dark);
}

.tabContent::-webkit-scrollbar { width: 6px; }
.tabContent::-webkit-scrollbar-thumb { background: var(--gbc-border); }

.empty {
  font-size: 12px;
  color: var(--gbc-mid);
  text-align: center;
  line-height: 2;
  padding: 36px;
}
